Remote_Health_Monitoring.json
[{"id":"6da3e229.d29d2c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"830fc412.548058","type":"ibmiot in","z":"6da3e229.d29d2c","authentication":"apiKey","apiKey":"514614e2.844164","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":120,"wires":[["51690c51.3c4f64","330fbda8.50c66a","f70aa1b4.275ed","349bc9ca.bddbde","8504f6ae.55a0f8","86c19716.8df168"]]},{"id":"349bc9ca.bddbde","type":"debug","z":"6da3e229.d29d2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"51690c51.3c4f64","type":"ui_gauge","z":"6da3e229.d29d2c","name":"","group":"4018c1ea.3d4f68","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.Temperature}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":200,"wires":[]},{"id":"330fbda8.50c66a","type":"ui_gauge","z":"6da3e229.d29d2c","name":"","group":"4018c1ea.3d4f68","order":1,"width":0,"height":0,"gtype":"gage","title":"Systolic Pressure","label":"units","format":"{{msg.payload.Systolic}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":280,"wires":[]},{"id":"f70aa1b4.275ed","type":"ui_gauge","z":"6da3e229.d29d2c","name":"","group":"4018c1ea.3d4f68","order":2,"width":0,"height":0,"gtype":"gage","title":"Diastolic Pressure","label":"units","format":"{{msg.payload.Diastolic}}","min":"80","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":360,"wires":[]},{"id":"34df04a4.66fb54","type":"cloudant out","z":"6da3e229.d29d2c","name":"","cloudant":"","database":"iotdata","service":"node-red-yakfd-2020--cloudant-1602420755381-33521","payonly":true,"operation":"insert","x":530,"y":40,"wires":[]},{"id":"8504f6ae.55a0f8","type":"ui_gauge","z":"6da3e229.d29d2c","name":"","group":"4018c1ea.3d4f68","order":3,"width":0,"height":0,"gtype":"gage","title":"Pulse Rate","label":"units","format":"{{msg.payload.Pulse}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":440,"wires":[]},{"id":"86c19716.8df168","type":"ui_gauge","z":"6da3e229.d29d2c","name":"","group":"4018c1ea.3d4f68","order":4,"width":0,"height":0,"gtype":"gage","title":"Age","label":"units","format":"{{msg.payload.Age}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":160,"wires":[]},{"id":"11755bc5.9ad32c","type":"function","z":"6da3e229.d29d2c","name":"pre-token","func":"global.set(\"Age\",msg.payload.age)\nglobal.set(\"Temperature\",msg.payload.temperature)\nglobal.set(\"Systolic\",msg.payload.systolic)\nglobal.set(\"Diastolic\",msg.payload.diastolic)\nglobal.set(\"Pulse\",msg.payload.pulse)\nvar apikey=\"81DDRPXs1C5I9ME5lkUcTf6AmT-ySZG0A0Jr3uEWjELJ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":540,"wires":[["2971fa2a.e7661e"]]},{"id":"2971fa2a.e7661e","type":"http request","z":"6da3e229.d29d2c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":660,"wires":[["cb54530a.00baf"]]},{"id":"cb54530a.00baf","type":"function","z":"6da3e229.d29d2c","name":"pre prediction","func":"var Age = global.get(\"Age\")\nvar Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[Age,Temperature,Systolic,Diastolic,Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":560,"wires":[["8c529dd4.7cee2","6069e648.8ecc"]]},{"id":"6069e648.8ecc","type":"debug","z":"6da3e229.d29d2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":700,"wires":[]},{"id":"8c529dd4.7cee2","type":"http request","z":"6da3e229.d29d2c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/84aed44d-ca38-4251-9224-6bf76bec813e/predictions?version=2020-10-25","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":600,"wires":[["bf7d15a6.7f0138","d2d718aa.4246f8"]]},{"id":"bf7d15a6.7f0138","type":"debug","z":"6da3e229.d29d2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":700,"wires":[]},{"id":"d2d718aa.4246f8","type":"function","z":"6da3e229.d29d2c","name":"parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg; \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":500,"wires":[["1b7d0c0b.98e264","3cf10a7.c317676"]]},{"id":"3cf10a7.c317676","type":"ui_text","z":"6da3e229.d29d2c","group":"fbdb0346.73ff","order":5,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":660,"wires":[]},{"id":"1b7d0c0b.98e264","type":"debug","z":"6da3e229.d29d2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":480,"wires":[]},{"id":"1dcdccd0.41c5bb","type":"ui_form","z":"6da3e229.d29d2c","name":"","label":"User Registration","group":"fbdb0346.73ff","order":5,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":false,"rows":null},{"label":"Age","value":"age","type":"number","required":false,"rows":null},{"label":"Gender","value":"gender","type":"text","required":false,"rows":null},{"label":"Temperature","value":"temperature","type":"number","required":false,"rows":null},{"label":"Systolic","value":"systolic","type":"number","required":false,"rows":null},{"label":"Diastolic","value":"diastolic","type":"number","required":false,"rows":null},{"label":"Pulse","value":"pulse","type":"number","required":false,"rows":null}],"formValue":{"name":"","age":"","gender":"","temperature":"","systolic":"","diastolic":"","pulse":""},"payload":"","submit":"submit","cancel":"cancel","topic":"Enter the values","x":90,"y":580,"wires":[["11755bc5.9ad32c"]]},{"id":"b13ee64c.1210b","type":"inject","z":"6da3e229.d29d2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":500,"wires":[["11755bc5.9ad32c"]]},{"id":"514614e2.844164","type":"ibmiot","z":"","name":"new api","keepalive":"60","serverName":"jeibyu.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4018c1ea.3d4f68","type":"ui_group","z":"","name":"Remote Health Monitoring","tab":"8cc908ba.b78068","order":1,"disp":true,"width":"6","collapse":false},{"id":"fbdb0346.73ff","type":"ui_group","z":"","name":"registration","tab":"8cc908ba.b78068","order":2,"disp":false,"width":"6","collapse":false},{"id":"8cc908ba.b78068","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]